<div class="title row center-y">
  Modalità
  <div class="flex"></div>
</div>
<mat-button-toggle-group [(ngModel)]="settings.gameMode" class="margin margin-x-l" vertical>
  <mat-button-toggle [value]="GameMode.Toggle">
    <fa-icon icon="hand-pointer"></fa-icon>
    <span class="text">Toggle</span>
  </mat-button-toggle>
  <mat-button-toggle [value]="GameMode.Details">
    <fa-icon icon="search"></fa-icon>
    <span class="text">Dettagli</span>
  </mat-button-toggle>
  <mat-button-toggle [value]="GameMode.Edit">
    <fa-icon icon="pen"></fa-icon>
    <span class="text">Penna</span>
  </mat-button-toggle>
  <mat-button-toggle [value]="GameMode.Erase">
    <fa-icon icon="eraser"></fa-icon>
    <span class="text">Gomma</span>
  </mat-button-toggle>
</mat-button-toggle-group>

<div class="title row center-y">
  Carica/Salva
  <div class="flex"></div>
</div>

<button [matMenuTriggerFor]="examplesMenu" class="margin margin-x-l" color="primary" mat-stroked-button>
  <fa-icon icon="archive"></fa-icon>
  Esempi
</button>
<button (click)="save()" class="margin margin-x-l" color="primary" mat-raised-button>
  <fa-icon icon="save"></fa-icon>
  Salva
</button>
<button (click)="file.click()" class="margin margin-x-l" mat-raised-button>
  <fa-icon icon="file-upload"></fa-icon>
  Carica
</button>

<input #file (change)="load($event)" class="hide" type="file"/>

<div class="title row center-y">
  Opzioni
  <div class="flex"></div>
</div>
<div class="row center-y">
  <fa-icon icon="tachometer-alt"></fa-icon>
  <mat-slider (input)="settings.setSpeed($event.value)" [value]="settings.speed" max="100" min="0" thumbLabel="true"></mat-slider>
</div>

<mat-slide-toggle labelPosition="before" (change)="settings.setGrid($event.checked)" [checked]="settings.grid">
  <fa-icon icon="palette"></fa-icon>
  <span class="margin-x">Griglia</span>
</mat-slide-toggle>

<mat-slide-toggle labelPosition="before" (change)="settings.setColors($event.checked)" [checked]="settings.colors">
  <fa-icon icon="palette"></fa-icon>
  <span class="margin-x">Colori</span>
</mat-slide-toggle>

<!--Menu-->
<mat-menu #examplesMenu="matMenu">
  <button mat-menu-item *ngFor="let example of examples" (click)="loadExample(example)">
    <fa-icon [icon]="example.icon"></fa-icon>
    <span class="text">{{example.name}}</span></button>
</mat-menu>
