:host {
  width: 150px;
  border-right: 1px solid var(--border);
  overflow-x: hidden;
}

.title {
  font-weight: 400;
  font-size: 13px;
  color: #00000099;

  &:not(:first-child) {
    margin-top: var(--size-l);
  }

  div {
    border-top: 1px solid var(--border);
    margin-left: var(--size);
  }
}

.button-wrapper {
  height: 200px;
}

fa-icon {
  color: var(--primary)
}

span.text {
  display: inline-block;
  width: 65px;
  text-align: left;
  margin-left: var(--size);
}

span.menu-text {
  margin-left: var(--size);
}

.options {
  margin-left: var(--size);
}
