<div class="row center-y">
  <button (click)="reset()" class="size-l" color="accent" mat-icon-button>
    <fa-icon [icon]="game.time === 0 ? 'times' : 'undo-alt'"></fa-icon>
  </button>
  <button (click)="toggleAnimation()" class="size-xl" color="accent" mat-icon-button>
    <fa-icon [icon]="animationService.isRunning ? 'pause' : 'play'"></fa-icon>
  </button>
  <button (click)="update()" class="size-l" color="accent" mat-icon-button>
    <fa-icon icon="step-forward"></fa-icon>
  </button>
</div>
<div class="col game-info">
  <div class="name">{{settings.name}}</div>
  <div><span class="info">Tempo:</span><span class="value">{{game.time}}</span></div>
  <div><span class="info">Popolazione:</span><span class="value">{{game.population}}</span></div>
</div>
