<div class="row center-y">
  <button (click)="reset()" [matTooltip]="game.time === 0 ? 'Cancella' : 'Reset'" class="size-l" color="accent" mat-icon-button>
    <fa-icon [icon]="game.time === 0 ? 'times' : 'undo-alt'"></fa-icon>
  </button>
  <button (click)="toggleAnimation()" [matTooltip]="animationService.isRunning ? 'Pausa' : 'Play'" class="size-xl" color="accent" mat-icon-button>
    <fa-icon [icon]="animationService.isRunning ? 'pause' : 'play'"></fa-icon>
  </button>
  <button (click)="update()" matTooltip="Avanti" class="size-l" color="accent" mat-icon-button>
    <fa-icon icon="step-forward"></fa-icon>
  </button>
</div>
<div class="col game-info">
  <div class="name">{{settings.name}}</div>
  <div><span class="info">Tempo:</span><span class="value">{{game.time}}</span></div>
  <div><span class="info">Popolazione:</span>
    <span class="value">
      {{game.population}}<fa-icon *ngIf="game.lastPopulation < game.population" class="population-icon up" icon="caret-up"></fa-icon><fa-icon *ngIf="game.lastPopulation > game.population" class="population-icon down" icon="caret-down"></fa-icon></span>
  </div>
</div>
