.col, router-outlet + *, body {
  display: flex !important;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  min-height: auto;

  &.center-x {
    align-items: center;
  }

  &.center-y {
    justify-content: center;
  }
}

.row, .row-flex {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: flex-start;
  position: relative;
  min-height: auto;

  &.center-x {
    justify-content: center;
  }

  &.center-y {
    align-items: center;
  }
}

.wrap {
  flex-wrap: wrap;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex, .row-flex > * {
  flex: 1;
  position: relative;
  box-sizing: border-box;
  min-height: 0;
}

.flex-1 {
  flex: 1;
  position: relative;
  box-sizing: border-box;
}

.flex-2 {
  @extend .flex;
  flex: 2;
}

.flex-3 {
  @extend .flex;
  flex: 3;
}

.flex-4 {
  @extend .flex;
  flex: 4;
}

.flex-5 {
  @extend .flex;
  flex: 5;
}

.flex-6 {
  @extend .flex;
  flex: 6;
}

.flex-7 {
  @extend .flex;
  flex: 7;
}

.flex-8 {
  @extend .flex;
  flex: 8;
}

.flex-9 {
  @extend .flex;
  flex: 9;
}

.flex-10 {
  @extend .flex;
  flex: 10;
}

.flex-11 {
  @extend .flex;
  flex: 11;
}

.flex-12 {
  @extend .flex;
  flex: 12;
}

.absolute {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.flex-auto {
  flex-grow: 1;
  flex-shrink: 1;
  flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
  position: relative;
}
