@import 'theme';
@import 'flex';

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  font-size: 14px;
  font-weight: 400;

  background-color: var(--background);
  color: var(--on-background);
  border-color: var(--border);
  user-select: none;
}

/********** PADDING **********/
.no-top-padding {
  padding-top: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.padding-s {
  padding: var(--size-s) !important;
}

.padding {
  padding: var(--size) !important;
}

.padding-l {
  padding: var(--size-l) !important;
}

.padding-xl {
  padding: var(--size-xl) !important;
}

.padding-y-s {
  padding-top: var(--size-s) !important;
  padding-bottom: var(--size-s) !important;
}

.padding-y {
  padding-top: var(--size) !important;
  padding-bottom: var(--size) !important;
}

.padding-y-l {
  padding-top: var(--size-l) !important;
  padding-bottom: var(--size-l) !important;
}

.padding-y-xl {
  padding-top: var(--size-xl) !important;
  padding-bottom: var(--size-xl) !important;
}

.padding-x-s {
  padding-right: var(--size-s) !important;
  padding-left: var(--size-s) !important;
}

.padding-x {
  padding-right: var(--size) !important;
  padding-left: var(--size) !important;
}

.padding-x-l {
  padding-right: var(--size-l) !important;
  padding-left: var(--size-l) !important;
}

.padding-x-xl {
  padding-right: var(--size-xl) !important;
  padding-left: var(--size-xl) !important;
}

/********** MARGIN **********/
.no-margin {
  margin: 0 !important;
}

.no-top-margin {
  margin-top: 0 !important;
}

.margin-s {
  margin: var(--size-s) !important;
}

.margin {
  margin: var(--size) !important;
}

.margin-l {
  margin: var(--size-l) !important;
}

.margin-xl {
  margin: var(--size-xl) !important;
}

.margin-y-s {
  margin-top: var(--size-s) !important;
  margin-bottom: var(--size-s) !important;
}

.margin-y {
  margin-top: var(--size) !important;
  margin-bottom: var(--size) !important;
}

.margin-y-l {
  margin-top: var(--size-l) !important;
  margin-bottom: var(--size-l) !important;
}

.margin-y-xl {
  margin-top: var(--size-xl) !important;
  margin-bottom: var(--size-xl) !important;
}

.margin-x-s {
  margin-left: var(--size-s) !important;
  margin-right: var(--size-s) !important;
}

.margin-x {
  margin-left: var(--size) !important;
  margin-right: var(--size) !important;
}

.margin-x-l {
  margin-left: var(--size-l) !important;
  margin-right: var(--size-l) !important;
}

.margin-x-xl {
  margin-left: var(--size-xl) !important;
  margin-right: var(--size-xl) !important;
}

/********** COLOR **********/

.c-primary {
  color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
  color: var(--on-primary) !important;
}

.c-accent {
  color: var(--accent) !important;
}

.c-on-accent {
  color: var(--on-accent) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
  color: var(--on-accent) !important;
}

.c-success {
  color: var(--success) !important;
}

.bg-success {
  background-color: var(--success) !important;
  color: var(--on-success) !important;
}

.c-error {
  color: var(--error) !important;
}

.bg-error {
  background-color: var(--error) !important;
  color: var(--on-error) !important;
}

.c-warn {
  color: var(--error) !important;
}

.bg-warn {
  background-color: var(--error) !important;
  color: var(--on-error) !important;
}

.c-info {
  color: var(--info) !important;
}

.c-disabled {
  color: rgba(0, 0, 0, 0.12);
}

.bg-disabled {
  background-color: rgba(0, 0, 0, 0.12);
}

.bg-surface {
  background-color: var(--surface) !important;
  color: var(--on-surface) !important;
}

/********** OTHER **********/

.border-top {
  border-top: 1px solid var(--border);
}

.overflow-auto {
  overflow: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.hide {
  display: none !important;
}

.info {
  color: var(--info);
  font-size: 13px;
}

.value {
  display: inline-block;
  width: 40px;
  font-size: 13px;
  font-weight: 500;
  margin-left: var(--size-s);
}
