.canvas-container {
  width: 1000px;
  height: 800px;
  position: relative;
  border: 2px solid black;
  margin: 50px;

  canvas {
    position: absolute;

    &.game {
      z-index: 1;
    }

    &.hover {
      z-index: 2;
    }

    &.grid {
      z-index: 3;
    }
  }

  .tooltip {
    display: block;
    position: absolute;
    padding: .5em 1em;
    background-color: #f1f1f1;
    z-index: 10;
  }
}
