.canvas-container {
  width: 1000px;
  height: 800px;
  position: relative;
  border: 2px solid black;
  margin: 50px;

  canvas {
    position: absolute;

    &.game {
      z-index: 1;
    }

    &.hover {
      z-index: 2;
    }

    &.grid {
      z-index: 3;
    }
  }

  .tooltip {
    display: block;
    position: absolute;
    padding: .5em 1em;
    background-color: #ffffff;
    z-index: 10;
    visibility: hidden;
    width: 140px;
    border-radius: var(--size);
    border: #999999 solid 3px;
    user-select: none;
  }

  .tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    margin-top: 1px;
    border-width: 10px;
    border-style: solid;
    border-color: #999999 transparent transparent transparent;
  }
}
